body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: lightpink;
}

a {
	color:lightpink;
	text-decoration: none;

}

* {
	transition: 1s;
}



.nav{
	
	background-color:deeppink;
	padding:10px;
	color:white;
	position:fixed;
	z-index: 9;
	text-align:center;
	top:0px;
	width:200px;
	height:100%;
	align-content: center;
	right:0px;
	padding-top:230px;




}

.direct-return img{
	position:fixed;
	width:100px;
	height:auto;
	top:-15px;
	right:50px;
	z-index: 10;
}

.direct-next img{
	position:fixed;
	width:100px;
	height:auto;
	top:500px;
	right:50px;
	z-index: 10;
}

.nav-item{
	display:inline-block;
	padding:20px;

	/*border-radius:5px;*/
	/*padding-left:10%;*/
	cursor: pointer;
}

.nav-item:hover {
	background: pink;
}

.title{
	font-size:9vw;
	text-align:center;
	color:white;
	font-family:arial black;
	text-shadow: 15px 15px 5px deeppink;
	background-color:none;
	margin-top:0px;
	text-align: left;
	padding-left:100px;
	padding-top:80px;
	z-index:3;
	position:relative;
	
}

.headings{
	font-size:7vw;
	text-align:center;
	color:white;
	font-family:arial black;
	text-shadow: 15px 15px 5px deeppink;
	background-color:none;
	margin-top:0px;
	text-align: ;
	padding-right:200px;
	padding-top:30px;
	padding-bottom:50px;
	z-index:3;
	position:relative;
	
}
.text{
	margin-left:20px;
	padding:50px;
	margin-right:250px;
	padding-right:20px;
	background-color: deeppink;
	z-index:6;
	position:relative;
	font-family: arial;
	font-size:25px;
	color:snow;
	width: auto;
    overflow:hidden;
    border: solid 1px red
}

.rightcol{
	width: 49%;
    float: left;
    
       
}
.leftcol{
	width: 49%;
    float: left;
    margin-right:10px;
    padding-left:10px;
    
}
.text h1{
	font-weight: bold;
	font-size:30px;
	padding-left:0px;
}

.subhead{
	font-size:60px;
	text-align:center;
	color:deeppink;
	font-family:arial ;
	/*text-shadow: 15px 15px 5px deeppink;*/
	background-color:none;
	width:120%;
	height:100px;
	top:0px;
	text-align: left;
	position:fixed;
	z-index: 1;
	padding:0px;

	
}

.research{
	display:flex;
	flex-wrap:wrap;
	padding-right:200px;
	padding-top:40px;
	
}

.research-item{
	
	flex:0 0 32%;
	margin-top:30px;
	padding:50px;
	padding-top:50px;
	font-size: 20PX;
	color:white;
	text-align:center;
	font-family:courier;
	z-index:3;
	display: block;

	  

	

}

.research-item img{
	width:100%;
	/*padding:10px;*/
	/*border:1px solid snow;*/
	box-shadow: 5px 5px 8px deeppink;
	display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  height: 350px;
  object-fit: cover;

}

.hide{
	filter:blur(100px);
}

.show{
	display:block;
}

.active{
	background-color: pink;
}

.figure img{
	width:100%;
	height:300px;
	object-fit: cover;
	padding-top:10px;
}







