body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color: steelblue;
}

a {
	color:red;
}

/* When you first edit this file, you can delete everything below here. Remember you should use body to target all elements on the page first and then override them later  */

/* EXAMPLE CODE PLEASE REMOVE */

.main {
	border: 2px solid black
	padding: 10px;
	margin-top:50px;
	margin-bottom:100px;
	width:100%;
}

.head{
	font-family:helvetica;
	font-size: 80px;
	text-align:center;
	color:black;
	border:solid black 5px;
	background-color:steelblue;
	width:200px;
	height:110px;
	margin-left:750px;
	padding-top:10px;

}

.text1{
	margin-left:20px;
	padding:20px;
	width:100%;
	color:yellow;
	font-size: 200px;
}

.image1{
	
	
	/*margin-top:100px;*/
	margin:auto;
	top:50px;
	right:0px;
	position:relative;


}

img{
	
	width:70%;
	margin-left:500px;
	top:100px;
	image-orientation: 90deg flip;
	padding-left:700px;
	position:fixed;
}

.gifs{
			width:1020px;
			margin:auto;


		}

	








