body {
	font-family: courier;
	font-size: 24px;
	background-color: #fff9de;
}

a {
	color:black;
	text-decoration: none;

}


.bold{
	font-weight: bold;
}
.header{
	font-family:helvetica, arial;
	font-weight: bold;
	font-size:90px;
	text-align: center;
	padding:50px;
	padding-top:;
}

.scroll1 {
   
  /*transform: rotate(-40deg);*/
  background-color:black;
  color:white;
  position: fixed;
  font-family:helvetica, arial;
  width: 100%;
  height: 50px;
  margin-left:0px;
  /*margin-left:-200px;*/
  line-height: 50px;
  text-align:left;
  font-size:30px;
  font-weight:bold;
  overflow:hidden;
  pointer-events:none;
  flex-wrap:wrap;
  display:flex;
  z-index: 10;

} 

.subheader{
	font:arial bold;
	font-size:30px;
	text-align: center;

	 
** make this scrolling text**



}

.country-title{
	font-size:60px;
	font-family: helvetica, arial;
	font-weight: bold;
	margin-left:70px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
}

.thumbnail {
	flex: 0 0 33.33%;
}

.thumbnail-content {
	padding: 1px;
	position: relative;
}

.thumbnail img {
	width:100%;
}

.title{
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	color:black;
	
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family:helvetica, arial;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  

}



img{
 opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  
  backface-visibility: hidden;
  height: 350px;
  object-fit: cover;


}

.thumbnail:hover img {
  opacity: 0;
}

.thumbnail:hover .title {
  opacity: 1;

}