body {
	font-family: courier;
	font-size: 24px;
}

a {
	color:black;
	text-decoration: none;
}
.header{
	font-family:helvetica bold;
	font-size:90px;
	text-align: center;
	padding:50px;
}

.subheader{
	font:arial bold;
	font-size:30px;
	text-align: center;

	 
** make this scrolling text**



}

.country-title{
	font-size:60px;
	font-family: helvetica, arial;
	font-weight: bold;
	margin-left:70px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
}

.thumbnail {
	flex: 0 0 33.33%;
}

.thumbnail-content {
	padding: 1px;
	position: relative;
}

.thumbnail img {
	width:100%;
}

.title{
	text-align: left;
	font-size: 30px;
	font-family: sans-serif;
	color:black;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	font-family:helvetica, arial;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  

}


img{
 opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 350px;
  object-fit: cover;


}

.thumbnail:hover img {
  opacity: 0.2;
}

.thumbnail:hover .title {
  opacity: 1;

}