body {
	font-family: courier;
	font-size: 24px;
}

a {
	color:red;
}
.header{
	font-family:helvetica bold;
	font-size:90px;
	text-align: center;
	padding:50px;
}

.subheader{
	font:arial bold;
	font-size:30px;
	text-align: center;

	 
** make this scrolling text**



}

.country-title{
	font-size:60px;
	font-family: helvetica bold;
	margin-left:70px;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
}

.thumbnail {
	flex: 0 0 33.33%;
}

.thumbnail-content {
	padding: 1px;
}

.thumbnail img {
	width:100%;
	position: relative;
  	

}

.title{
	text-align: center;
	font-family: sans-serif;
	transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

}


img{
 opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;


}

.thumbnail:hover img {
  opacity: 0.2;
}

.thumbnail:hover .title {
  opacity: 1;
}