body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
	background-color:#188bab;
	color:white;
}

a {
	color:snow;
}

/*index homepage*/

.index-intro{
	font-size:60px;
	text-align:center;
	margin-top:50px;
	padding-bottom:70px;
}

.index-row{
	display:flex;
	flex-wrap:wrap;
	padding:10px;
	margin-bottom:5px;
	margin-top:0px;
	border-top:2px solid white;

}

.index-name{
	flex:0 0 50%;
	text-decoration: none;
	padding-left:60px;
}

.index-layer{
	flex:0 0 25%;
}

.index-tag{
	flex:0 0 25%;
}

/*ip adress*/

.ip{
	background-color:blue;
	height:100vh;
	width:100vw;
	display:flex;
	align-items:center;
	justify-content: center;
}

.ip-text{
	font-size:13vw;
	text-align:center;
	color:black;


}

/*checkers*/

.checkers{
	display:flex;
	flex-wrap:wrap;
}

.checkers-black{
	width:50vw;
	height:50vh;
	background-color:black;
}

.checkers-white{
	width:50vw;
	height:50vh;
	background-color: white;
}

.Checkers-type{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content: center;
	position: fixed;
	left:0px;
	top:0px;

}

.checkers-text{
	font-size:20vw;
	color:lime;
	border:5px dashed lime;
	padding:3vh;
	border-radius: 5vw;

	

}

/*cloud patterns*/

.cloud-pattern{
	display:flex;
	flex-wrap: wrap;
	background-image: linear-gradient(lightblue, snow)
}

.cloud-circle{
	height:25vh;
	width:33.33%;
	background-image: linear-gradient(lightblue, snow);
	border-radius:50%;
}

/*chip*/

.chip-container{
	width:100vw;
	height:100vw;
	display:flex;
	margin-top:200px;
	justify-content:center;

}

.chip{
	width:300px;
	height:400px;
	align-items:center;
	justify-content: center;
	display: flex;
	background-color: black;
	border:1px solid grey;
	background-color: red;
	margin-left:10px; 
	
	display:wrap;
	flex-wrap: wrap;



	
}


.text{
	font-size:10vw;
	color:grey;
	padding-top:60px;
	padding-bottom:60px;
	padding-left:20px;
	padding-right:20px;
	text-align:center;
}

/*phone passcode*/

.phone-container{
	width:100vw;
	height:100vw;
	display:flex;
/*	align-items:center;*/
	justify-content:center;
	margin-top:100px;
	


}

.phone{
 	width:50vh;
	height:80vh;
/*	align-items:center;*/
	border-radius: 30px;
	justify-content: center;
	display: flex;
	border:1px solid grey;
	background-color: red;
	background-image:100%; 
	padding-top:3vw;
	background-image: url(background/blurr.jpg);
	background-size: cover;

}

.button-container{
	width:40vw;
	height:35vw;
	display:flex;
	margin-top:30px;
	flex-wrap: wrap;
	padding-top:10px;
	justify-content:center;

	
	

}

.button{
	width:7vw;
	height:7vw;
	border-radius:100%;
	color:snow;
	border:1px solid white;
	text-align:center;
	padding-top:2.5vw;
	margin-right:5px;
	margin-left:5px;
	margin-top:10px;


}

.phone-text{
	font-family: helvetica;
	font-size: 15px;
	width:100%;
	text-align: center;
	margin-bottom:40px;
	


}

img{
	width:100%;
}

/*employee*/

.grid{
	display:flex;
	flex-wrap:wrap;

}

.employ-images{
	flex:0 0 10%;
	margin-top:30px;
	padding:20px;
	font-size: 20PX;
	color:white;
	text-align:center;
	font-family:courier;
	z-index:3;
	display: block;

}

.employ-images img{
	width:100%;
	transition: 1s;
  object-fit: cover;
  height:100px;

}

.employ-images .male img{
	width:200%;
	height:300px;
	transition: 2s;
	box-shadow: 0 0 40px snow;
}

.employ-images .male img: hover{
	width:500px;
	transition: 1s;
}

/*tap myki*/

.tap {
	justify-content: center;
	align-items: center;
	width:100%;
	position:absolute;
	margin-left:20px;
	z-index: 2;
}

/*.tap img{
	width:95%;
	transition: 1s;
	 object-fit: cover;
	 height:auto;
}
*/

.tap1 {
	top:0px;
	left:80px;
	width:130%;
	height: auto;
	padding-left:100px;
	margin-top:-600px;
	margin-left:-200px;
}


.text{
	position:absolute;
	z-index: 4;
}
.text img{
	width:100%;
	display: block;
	transform-style: 
}












